/* GLOBAL HTML RESET */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;;
}

body{
  background-color: #FEF6FE;
  padding: 0 3em 0 3em;
}

/* CSS VARIABLES FOR TEXT AND COLORS  */
:root{
    --violet: #6F0E35;
    --subtext-color: #A3A2A2;
    --poppins-text: 'Poppins, sans-serif';
}

/* SHOP STYLES */

/* HERO SECTION STYLES */
/* INDICATOR STYLES */
#page-indicator{
    margin-left: 1em;
}

#page-indicator ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

#page-indicator li {
  color: #afafaf;
}

#page-indicator .active {
  color: #000;
}

#page-indicator .separator {
  width: 6px;
  height: 6px;
  background-color: #6F0E35;
  border-radius: 50%;
}

/* HEADER STYLES */
#hero-section{
    display: flex;
}

#shop-header{
  font-family: 'Allogist, sans-serif';
    font-size: 225px;
    color: #6F0E35;
    line-height: 1;
}

/* FILTERS STYLES */
#filter-section{
  display: flex;
  right: 3em;
}

#filter-section img{
  height: 120px;
  width: 225px;
  margin-right: 15px;
}

.filter-text{
  color: #6F0E35;
  font-size: 23px;
  font-family: 'Allogist, sans-serif';
}

#subtext-filter{
  margin-left: 1em;
  max-width: 450px;
  color: #A3A2A2;
  font-family: 'Inter, sans-serif';
  font-size: 20px;
}